data/
*.txt
.DS_Store
*.json
*/.ipynb_checkpoints
*.pyc
*.tsv
language-modeling/finetuned-model
*.csv
*.textClipping
analyse-predictions/run-coreference/CoreNLPfiles
analyse-predictions/entailment/context-dataset
analyse-predictions/entailment/aclimdb
analyse-predictions/entailment/logs
*.tar.gz
